<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Client</title>
    </head>
    <body>
        <h1>BBD Coffee Application!</h1>
        <form action="/Home" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name">
                <label for="last name">Last name:</label>
                <input type="text" id="last_name">
            </div>
            <div>
                <label for="default_office">Default office:</label>
                <select>
                    <option value="Amsterdam">Amsterdam</option>
                    <option value="Cape Town">Cape Town</option>
                    <option value="Johannesburg">Johannesburg</option>
                    <option value="London">London</option>
                    <option value="Porto">Porto</option>
                    <option value="Pretoria">Pretoria</option>
                    <option value="Pune">Pune</option>
                </select>
            </div>
            <div>
                <label for="employee_number">Employee Number:</label>
                <input type="number" id="employee_number">
            </div>
            <button>
                Sign Up
            </button>
        </form>
    </body>
</html>