<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Home</title>
    </head>
    <body>
        <h3>BBD Coffee Application!</h3>

        <div>
            <h1>Coffee:</h1>

            <div class="card" width="100px">
                <div class="card-vertical">
                    <div class="img-square-wrapper">
                        <img 
                            alt="product one" 
                            fetchpriority="high" 
                            loading="eager" 
                            ng-img="true" 
                            src=""
                        >
                    </div>
                    <div class="card-body">
                        <div class="newitem">
                            <div>Cappuccino</div>
                            <button type="button" class="custom-btn btn-green btn-sm-rounded">
                                Add Item
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>